@charset "utf-8";
.milais_now {
}

.facility_list{
	clear:both;
	padding-left: 200px;
	padding-top:10px;
	padding-bottom:10px;
	text-align: left;
	list-style-type: square;	
	}

.photo{
	width:100%;
	}
	
.photoMargin{
	margin:5px;
	}
	
.bookmark{
	margin-left: 10px;
	margin-right:10px;
	}
	
.descr{
	padding-top:15px;
	padding-bottom:15px;
	}